<!DOCTYPE html>
<html lang="en" ng-app="GitHubSearch">
<head>
    <meta charset="UTF-8">
    <title>Git Hub User Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular-route.js"></script>
    <script src="gitSearch-routes.js"></script>
    <script src="gitSearch-controller.js"></script>
    <script src="gitUserData-controller.js"></script>
    <script src="gitSearch-dataProvider.js"></script>
    <script src="gitContributor-controller.js"></script>
    <!--<script src="contacts/contact.js"></script>-->
</head>

<body>


</body>
</html>