<div class="container">
    <div class="row">
        <div class="large-12 columns">
            <h1>GitHub Search App</h1>
            <hr>
            <div ng-view></div>
        </div>
    </div>
</div>