<div >
    <div class="row">
        <div><a href="#/index">Back to Search</a></div>
        <div class=" alert alert-danger" ng-show="error"> {{error }} </div>
        <div class="col-sm-6">
            <h3>Name: {{user.name}} </h3>
            <h3>Email: {{user.email}} </h3>
            <h3>Blog: {{user.blog}} </h3>
            <h3>Followers: {{followers.length}}</h3>
        </div>
        <div class="col-sm-6">
            <img ng-src="{{user.avatar_url}}" title="{{user.name}}" class="img-rounded" width="200" height="200" />
        </div>
        <br style="clear:both;"/>
    </div>

    Order By:
    <select ng-model="sortOrder">
        <option value="+name">Name</option>
        <option value="-stargazers_count">Stars</option>
        <option value="-updated_at">Last Updated</option>
        <option value="-open_issues_count">Open Issues</option>
    </select>

    <ul class="nav nav-tabs" role="tablist">
        <li role="details" ng-click="onUserComplete(); activeTab = 'on-Repos'" ng-class="{'active': activeTab=='on-Repos'}">
            <a href="" role="tab" data-toggle="tab">Repositories</a></li>
        <li role="details" ng-click="onSubs(); activeTab = 'on-Subs'" ng-class="{'active': activeTab=='on-Subs'}">
            <a href="" role="tab" data-toggle="tab">Subscriptions</a></li>
    </ul>

    <table class="table" >
        <thead>
        <tr>
            <th>Repo Name</th>
            <th>Stars</th>
            <th>Last Updated</th>
            <th>Open Issues</th>
            <th>Home Page</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="repo in repos | orderBy: sortOrder ">
            <td><a href="#/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
            <td>{{repo.stargazers_count | number}}</td>
            <td>{{repo.updated_at | date: 'medium'}}</td>
            <td>{{repo.open_issues_count}}</td>
            <td><a href="{{repo.homepage}}">Home Page</a></td>
        </tr>
        </tbody>
    </table>
</div>

<a href="#/index">Back to Search</a>