<div class="timeclass">
    <div>
    <strong>{{countDown}} </strong>
    <button type="button" class="btn btn-primary timer" ng-click="stopTimer()">Stop Timer</button>
    </div>
<form name="searchgitHubUser" ng-submit="onSearch(gituser)">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" required placeholder="Search" ng-model="gituser" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" value="search">Search</button>
                 </span>
        </div>
    </div>
</form>
<br/> <br/>
</div>